
<div class="row">

  <div class="col-lg-12 col-md-12">

    <h2>购物明细</h2>
    <table class=" table table-bordered">
      <thead>

      </thead>
      <tr>
        <td  style="text-align: center;width:12%">
          商品明细
        </td>
        <td  style="text-align: center;width:12%">
          单价
        </td>

        <td  style="text-align: center;width:12%">
          数量
        </td>
        <td style="text-align: center">
          总计
        </td>
        <td></td>
      </tr>



      <tbody>
      <tr>
        <% current_cart.cart_items.each do |cart_item| %>

            <td style="text-align: center">
              <%= link_to(cart_item.product.title,product_path(cart_item.product)) %>

            </td>


            <td style="text-align: center">
              <%= cart_item.product.price %>
            </td>

            <td style="text-align: center">
              <%= cart_item.product.quantity %>
            </td>



            <td style="text-align: center">
              <%#= cart_item.product.quantity %>

              <% carts = current_cart.cart_items.find_by(id:cart_item.product_id)%>


              <%form_for cart_item,url:cart_item_path(cart_item.product_id) do |f| %>

              <%= f.select :quantity,1..cart_item.product.quantity%>
              <%= f.submit "更新",data:{disable_with: "Submiting.."}%>
              <% end %>


            </td>
            <td style="text-align: center">
              <%= link_to cart_item_path(cart_item.product_id), method: :delete do %>
                  <i class="fa fa-trash"></i>
              <% end %>

            </td>
            </tr>
        <% end %>



      </tbody>
    </table>


    <div class="total clearfix">
      <span class="pull-right">
        <span>总计<%= current_cart.total_price %>RMB</span>

      </span>
    </div>

    <hr>
    <h2>
      订单资讯
    </h2>

    <div class="order-form">

      <%= simple_form_for @order do |f|%>

          <legend>订购人</legend>
      <div class="form-group col-lg-6">
        <%= f.input :billing_name%>
      </div>
          <div class="form-group col-lg-6">
            <%= f.input :billing_address%>
          </div>
          <legend>收货人</legend>
          <div class="form-group col-lg-6">
            <%= f.input :shipping_name%>
          </div>
          <div class="form-group col-lg-6">
            <%= f.input :shipping_address%>
          </div>

          <div class="checkout">

            <%= f.submit "生成订单", class:"btn btn-lg btn-danger pull-right",data:{disable_with:"Submitting..."}%>

          </div>
      <% end %>


    </div>





    <!--<div class="checkbox clearfix">-->

      <!--<%#= link_to("确认结账","#",method: :post,class:"btn btn-lg btn-danger pull-right")%>-->
    <!--</div>-->

  </div>

</div>
